html {
  background-color: black;
}

.parallax {
    /* The image used */
    background-image: url("background.jpg");
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 95px;
    color: white;
    font-size: 2em;
  }

  .div1 {
    height:500px; 
    background-color:rgb(21, 106, 112); 
    font-size:32px;
    border-radius: 25px; 
    padding: 15px 5px
  }

  .div2 {
    height:500px; 
    background-color:rgb(249, 66, 255); 
    font-size:32px;
    border-radius: 25px; 
    padding: 15px 5px;
    margin-top: 15px;
}