.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  section {
    padding: 40px 0;
  }
  
  h1 {
    font-size: 32px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project h3 {
    font-size: 24px;
  }

  .job {
    margin-bottom: 20px;
  }
  
  .job h3 {
    font-size: 24px;
  }
  
  .job h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .job-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .job ul {
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-links a {
    margin: 0 10px;
  }
  
  .social-links img {
    width: 20px;
    height: 20px;
  }


  form input,
  form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }