.footer {
    margin-top: 150px;
    padding: .25rem;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(31, 30, 30);
    vertical-align: center;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

.footer__images {
    text-decoration: none;
}

.footer__images>img {
    margin-top: 60px;
    width: 45px;
}

.footer__copyright {
    margin-top: auto;
}

.footer>.footer__copyright>p {
    font-size: .65rem;
}

/* Media Queries */
@media only screen and (max-width: 1050px) {

}

@media only screen and (max-width: 700px) { 

}

@media only screen and (max-width: 370px) { 

}