$primaryTitleFont: 3em;
$primaryParagraphFont: 1.25em;
$primaryParagraphFontMobile: .55rem;
$backgroundPath: url("../images/background.jpg");
$secondBackground: url("../images/forest.jpg");
/*'Kulim Park', sans-serif;*/
$baseFont: 'Montserrat', sans-serif;
$formFont: 'Ubuntu', sans-serif;