$primaryTitleFont: 3em;
$primaryParagraphFont: 1.25em;
$backgroundPath: url("../images/background.jpg");
$secondBackground: url("../images/forest.jpg");
$baseFont: 'Montserrat', sans-serif;
$formFont: 'Ubuntu', sans-serif;