.work__title {
    text-align: center;
    font-size: 2em;
    font-family: $baseFont;
    margin-bottom: 150px;
}

.work__wrapper {
    flex-wrap: wrap;
    @include flex(space-evenly, center);
}

.work__row {
    margin-top: 10px;
    height: 20vh;
    width: 20vh;
    border: 2px solid black;
    border-radius: 50px;
}

.side-project-image {
    height: 100%;
    width: 100%;
    border-radius: 45px;
}