/* Variables */
$primaryTitleFont: 3em;
$primaryParagraphFont: 1.25em;
$backgroundPath: url("../images/background.jpg");
$baseFont: 'Montserrat', sans-serif;
$formFont: 'Ubuntu', sans-serif;

/* Linking */
@import "./hero";
@import "./about";
@import "./work";
@import "./contact";
@import "./footer";

/* Mixins 
For some odd reason I cant use mixins in other files
Ill find a fix later but for now im just gonna leave these both in the classes so when I do find a fix
I can just remove the ones in the other files
*/
@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin ctaPreFab {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Base Attributes */
html,
body {
    margin: 0px;
    scroll-behavior: smooth;
}